<app-unified-application-form
    [isNew]="is_new"
    [paymentType]="payment_type"

    [businessName]="unifiedData.businessName"
    [franchiseName]="unifiedData.tradeName"
    [dtiNumber]="unifiedData.registrationNumber"
    [registrationDate]="unifiedData.registrationDate"
    [tinNumber]="unifiedData.tin"
    [surname]="unifiedData.surname"
    [givenname]="unifiedData.givenName"
    [middlename]="unifiedData.middleName"
    [suffix]="unifiedData.suffix"
    [email]="unifiedData.email"
    [number]="unifiedData.contactNumber"

    [subdivision]="unifiedData.subdivision"
    [block_no]="unifiedData.blockNumber"
    [lot_no]="unifiedData.lotNumber"
    [name_building]="unifiedData.buildingName"
    [house_no]="unifiedData.houseNumber"
    [street]="unifiedData.streetAddress"
    [barangay]="unifiedData.barangay"
    [city]="unifiedData.city"
    [province]="unifiedData.province"
    [zipCode]="unifiedData.zipCode"

    [operational_subdivision]="unifiedData.operationalSubdivision"
    [operational_block_no]="unifiedData.operationalBlockNumber"
    [operational_lot_no]="unifiedData.operationalLotNumber"
    [operational_name_building]="unifiedData.operationalBuildingName"
    [operational_house_no]="unifiedData.operationalHouseNumber"
    [operationalStreet]="unifiedData.operationalStreet"
    [operationalBarangay]="unifiedData.operationalBarangay"
    [operationalCity]="unifiedData.operationalCity"
    [operationalProvince]="unifiedData.operationalProvince"
    [operationalZipCode]="unifiedData.operationalZipCode"

    [businessArea]="unifiedData.businessArea"
    [businessFloorArea]="unifiedData.totalFloorArea"
    [totalFemale]="unifiedData.totalFemale"
    [totalMale]="unifiedData.totalMale"
    [totalEmployee]="unifiedData.employeesWithinLGU"
    [businessActivity]="unifiedData.businessActivity"

    [businessType]="unifiedData.organizationType"
    [gender]="unifiedData.gender"
    [no_van]="unifiedData.no_van"
    [no_motor]="unifiedData.no_motor"
    [image]="unifiedData.image"
></app-unified-application-form>