<div class="py-6 md:px-8 px-2">
    <!-- First attempt photo -->
    <!-- <section class="relative text-md">
      <div class="flex justify-center w-[100%]">
        <img class="md:w-[80%] w-[100%]" src="assets/images/bpls_form.jpg" alt="bpls form">
      </div>
      <h5 class="absolute top-[25.7%] left-[12.5%] font-semibold">{{ dtiNumber }}</h5>
      <h5 class="absolute top-[25.7%] left-[67.2%] font-semibold">{{ tinNumber }}</h5>
      <h5 class="absolute top-[28.5%] left-[20%] font-semibold">{{ businessName }}</h5>
      <h5 class="absolute top-[43.2%] left-[30%] font-semibold">{{ surname }}</h5>
      <h5 class="absolute top-[43.2%] left-[48.2%] font-semibold">{{ givenname }}</h5>
      <h5 class="absolute top-[43.2%] left-[65.5%] font-semibold">{{ middlename }}</h5>
    </section> -->
  
    <section>
        <app-form
            [businessName]="businessName"
            [franchiseName]="franchiseName"
            [dtiNumber]="dtiNumber"
            [tinNumber]="tinNumber"
            [surname]="surname"
            [givenname]="givenname"
            [middlename]="middlename"
            [suffix]="suffix"
            [email]="email"
            [number]="number"

            [operationalBarangay]="operationalBarangay"
            [operationalCity]="operationalCity"
            [operationalProvince]="operationalProvince"
            [operationalZipCode]="operationalZipCode"

            [barangay]="barangay"
            [city]="city"
            [province]="province"
            [zipCode]="zipCode"

            [businessArea]="businessArea"
            [totalFemale]="totalFemale"
            [totalMale]="totalMale"
            [totalEmployee]="totalEmployee"
            [businessActivity]="businessActivity"
            [paymentType]="paymentType"
            [businessType]="businessType"
            [gender]="gender"
            [registrationDate]="dti_registration_date"
            [isNew]="isNew"
            [tracking_number]="tracking_number"
            [business_id_number]="business_id_number"
            [date_of_receipt]="date_of_receipt"
        >
        </app-form>
    </section>

    <!-- Buttons -->
    <div class="col-span-12 flex justify-end mt-4">
      <!-- Previous Button -->
      <button type="button" class="focus:outline-none text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-gray-600 dark:hover:bg-gray-800 dark:focus:ring-gray-800">
          Decline
      </button>
      
      <!-- Next Button -->
      <button (click)="approve()" type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-green-600 dark:hover:bg-green-800 dark:focus:ring-green-800">
          Approve
      </button>
    </div>
</div>

<p-dialog 
  header="Header" 
  [modal]="true" 
  [(visible)]="visible" 
  [style]="{ width: '50rem' }" 
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
  [maximizable]="true"
>
  <p>
      Lorem ipsum dolor sit amet...
  </p>
  <div>
    <label for="comment">Comment here!</label>
    <input type="text" id="comment">
  </div>
</p-dialog>

<!-- Loading -->
<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-60 z-50">
<div class="text-center">
    <i class="fa-solid fa-spinner fa-spin text-4xl text-white"></i>
    <p class="mt-4 text-white text-lg">Loading, please wait...</p>
</div>
</div>