<app-header [ngClass]="{ 'hidden': withHeader }"></app-header>
<div class="flex flex-col md:flex-row items-center justify-around md:px-10 px-5 py-8 mx-auto h-screen">
    <!-- <a href="https://bislig.gov.ph/" class="flex flex-col items-center justify-center mb-6 text-2xl font-semibold p-2">
        <img class="lg:w-4/5 w-72" src="../../../assets/images/logo/bislig lgu logo.png" alt="bislig logo">
        <p class="text-gray-800 text-center text-wrap">Business Permit and Licensing System</p>
    </a> -->

    <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-4">Through the Integrated Business Permits and Licensing System (iBPLS), you may now secure your Business Permit in just 3 steps:</h3>
        
        <ol class="list-decimal list-inside space-y-6">
            <li class="flex items-center space-x-3">
                <i class="fas fa-check-circle text-primary-600"></i>
                <span class="text-gray-700"><strong>Step 1: Application and Verification</strong> - Fill out and submit your application form for verification.</span>
            </li>
            <li class="flex items-center space-x-3">
                <i class="fas fa-file-invoice-dollar text-primary-600"></i>
                <span class="text-gray-700"><strong>Step 2: Assessment and Payment</strong> - Pay the required fees after assessment of your application.</span>
            </li>
            <li class="flex items-center space-x-3">
                <i class="fas fa-handshake text-primary-600"></i>
                <span class="text-gray-700"><strong>Step 3: Releasing</strong> - Once approved, your business permit will be released for you to collect.</span>
            </li>
        </ol>
    </div>
    
    <div>
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Application of Business Permit</h2>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Who must avail of the service?</h3>
        <p class="text-gray-700 mb-4">
            All constituents who plan to operate a new business or to continue operating an existing business are required to secure Mayor's Permit.
        </p>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">APPLYING FOR BUSINESS REGISTRATION</h3>
        <div class="mb-4 px-4">
            <h4 class="font-semibold text-gray-800">Requirements for New Business</h4>
            <hr>
            <ul class="list-disc list-inside text-gray-700 space-y-2">
                <li>Unified Application Form</li>
                <li>Barangay Clearance</li>
                <li>BFP-Fire Safety Inspection Certificate (FSIC)</li>
                <li>Occupancy Permit Building Official</li>
                <li>Zoning Clearance</li>
                <li>Environmental Compliance Certificate</li>
                <li>Sanitary Permit</li>
            </ul>
            <hr>
        </div>
        <div class="px-4">
            <h4 class="font-semibold text-gray-800">Requirements for Renewal of Business Permits</h4>
            <hr>
            <ul class="list-disc list-inside text-gray-700 space-y-2">
                <li>Unified Application Form</li>
                <li>Barangay Clearance</li>
                <li>Old Business Permit</li>
            </ul>
        </div>
    </div>
    

    <!-- Sign In -->

    <div *ngIf="hasAccount" class="w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-200">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl">
                Sign in to your account
            </h1>
            <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="space-y-2">
                <div>
                    <label class="text-sm font-light" for="username">Username:</label>
                    <input type="text" name="username" id="username" formControlName="username" class="bg-gray-50 border border-gray-900 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Lylexavierr" required="">
                    <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)">
                        <small class="text-red-500" *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
                    </div>
                </div>
                <div>
                    <label class="text-sm font-light" for="password">Password:</label>
                    <div class="relative">
                        <input [attr.type]="loginSeePass ? 'text' : 'password'"  name="password" id="password" formControlName="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        <div (click)="loginPass()" class="absolute bottom-2 right-3">
                            <i *ngIf="loginSeePass" class="fa-regular fa-eye cursor-pointer"></i>
                            <i *ngIf="!loginSeePass" class="fa-regular fa-eye-slash cursor-pointer"></i>
                        </div>
                    </div>
                    <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
                        <small class="text-red-500" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
                    </div>
                </div>
                <!-- <div class="flex items-center justify-between">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="remember" class="dark:text-dark">Remember me</label>
                        </div>
                    </div>
                    <a href="#" class="text-sm font-medium text-dark hover:underline dark:text-primary-500">Forgot password?</a>
                </div> -->
                <button type="submit" class="w-full bg-red-700 text-white p-2 rounded-lg">Sign in</button>
                <p class="text-sm font-light text-dark text-center">
                    Don’t have an account yet? <button (click)="signUpFunction()" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</button>
                </p>
            </form>
        </div>
    </div>

    <!-- Sign Up  -->

    <div *ngIf="!hasAccount" class="w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-200">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl">
                Create an account with us
            </h1>
            <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" class="space-y-2">
                <div>
                    <label class="text-sm font-light" for="username">Username:</label>
                    <input type="text" name="username" id="username" formControlName="username" class="bg-gray-50 border border-gray-900 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="user1" required="">
                    <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
                        <small class="text-red-500" *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</small>
                    </div>
                </div>
                <div>
                    <label class="text-sm font-light" for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" placeholder="user1@gmail.com" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
                        <small class="text-red-500" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
                        <small class="text-red-500" *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
                    </div>
                </div>
                <div>
                    <label class="text-sm font-light" for="password">Password:</label>
                    <div class="relative">
                        <input [attr.type]="registerSeePass ? 'text' : 'password'" id="password" formControlName="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        <div (click)="registerPass()" class="absolute bottom-2 right-3">
                            <i *ngIf="registerSeePass" class="fa-regular fa-eye cursor-pointer"></i>
                            <i *ngIf="!registerSeePass" class="fa-regular fa-eye-slash cursor-pointer"></i>
                        </div>
                    </div>
                    <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
                        <small class="text-red-500" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
                    </div>
                </div>
                <div>
                    <label class="text-sm font-light" for="confirmpassword">Confirm Password:</label>
                    <div class="relative">
                        <input [attr.type]="registerConfirmSeePass ? 'text' : 'password'" id="confirmpassword" formControlName="confirmpassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        <div (click)="registerConfirmPass()" class="absolute bottom-2 right-3">
                            <i *ngIf="registerConfirmSeePass" class="fa-regular fa-eye cursor-pointer"></i>
                            <i *ngIf="!registerConfirmSeePass" class="fa-regular fa-eye-slash cursor-pointer"></i>
                        </div>
                    </div>
                    <div *ngIf="registerForm.get('confirmpassword')?.invalid && (registerForm.get('confirmpassword')?.touched || registerForm.get('confirmpassword')?.dirty)">
                        <small class="text-red-500" *ngIf="registerForm.get('confirmpassword')?.errors?.['required']">Confirm Password is required.</small>
                    </div>
                </div>
                <button type="submit" class="w-full bg-red-700 text-white p-2 rounded-lg">Sign up</button>
                <p class="text-sm font-light text-dark text-center">
                    Already have an account? <button (click)="signInFunction()" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign in</button>
                </p>
            </form>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->
<p-toast></p-toast>
