<nav class="bg-primary shadow-md">
    <div class="md:py-4 py-2 md:px-8 px-4">
        <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-3">
            
            <!-- Left Section -->
            <div class="flex items-center gap-4">

                <p-breadcrumb 
                    [model]="items" 
                    [home]="home" 
                    class="text-white/90 font-medium text-sm md:text-base">
                </p-breadcrumb>
            </div>

            <!-- Right Section -->
            <div class="flex flex-col text-white/90 text-xs md:text-sm leading-tight">
                <span class="text-start md:text-end font-medium">Philippine Standard Time</span>
                <span class="text-start md:text-end tracking-wide">{{ currentTime }}</span>
            </div>

        </div>
    </div>
</nav>