/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "maplibre-gl/dist/maplibre-gl.css";

* {
    user-select: none;
}

/* Splash screen base */
#splash-screen {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e6ed;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */
}

body.app-ready #splash-screen {
  opacity: 0;
  visibility: hidden;
}

app-root {
  opacity: 0;
  /* transition: opacity 0.3s ease; */
}

body.app-ready app-root {
  opacity: 1;
}